@media (min-width: 800px) {
  .container {
    display: none;
  }
}
@media (max-width: 1100px) {
  .container {
    display: block;
  }
  .modal {
    background: #f24f00;
    position: absolute;
    bottom: 85%;
    left: 70%;
    width: 20%;
    height: 8%;
    text-align: center;
    &_text {
      position: relative;
      top: 20%;
      & a {
        text-decoration: none;
        color: white;
      }
      &_input input {
        width: 80%;
      }
    }
  }
}
